body {
  height: 100vh;
  width: 100%;
  /*background: rgba(0,173,228,0.22);*/
  
  background: #4b79a1; background: -webkit-linear-gradient( to right, #283e51, #4b79a1 ); background: linear-gradient(to right, #0091ea, #4b79a1);
  /*background: linear-gradient(to right, rgba(40,62,81,0.26), rgba(0,173,228,0.36));*/
}

.toggle {
  padding-top: 15vh;
  position: relative;
  width: 100%;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff  {
  color: #fff;
  font-size: 4em;
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow:  0 0 42px #000;

}
.toggle .onoff1  {
  color: #fff;
  font-size: 4em;
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow:  0 0 42px #000;

}

#check3 {

  font-size: 2.5em;


}

.slider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  background-color: #333;
  transition: 0.4s;
  width: 200px;
  height: 120px;
}

.slider:before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #fff;
  transition: 0.4s;
  top: 10px;
  left: 10px;
}

input:checked + .slider {
  background-color: #00ade4;
  box-shadow: 0 0 42px #fdff90;
}

input:checked + .slider:before {
  transform: translateX(80px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round::before {
  border-radius: 20px;
}

.page-footer {
  
    background: #ffffff61;
}

.navbar-dark .navbar-nav .nav-link {
  color: #5b5b5b;
}

.navbar-dark .navbar-toggler {
  color: #3a3a3a;
  border-color: rgb(120,120,120);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url([svg]);
}

.portfolio-navbar .navbar-nav .nav-item {
  padding-right: 2rem;
  padding-top: 10px;
}

.portfolio-block.block-intro {
  filter: grayscale(100%);
  transition: 1s;
  /*filter: opacity(50%);*/
}

.portfolio-block.block-intro-on {
  filter: grayscale(0%);
  transition: 1s;
  /*filter: opacity(50%);*/
}

.portfolio-block.block-intro-on {
  text-align: center;
}
.bg-white {
    --bs-bg-opacity: .8;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}